.thank-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
 background: rgb(2, 45, 46); 
}

.thank-container h1 {
  color: rgb(183, 211, 124);
  font-size: 30px;
  font-weight: 500;
}

.thank-container p {
  color: rgb(100, 178, 178);
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
}


